body {
    background-color: #942b3b;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #053c5e;


}

#contorno-foto {
    border-radius: 100%;
    height: 350px;
    background-color: #14213d;
    padding: 5px;
    margin-left: 80px;
}

header {
    background-color: #14213d;
    padding: 5px;
    border: blanchedalmond 3px solid;
}

#meu-nome {
    font-style: italic;
    text-align: center;
    color: #f5f3f4;
    font-size: larger;
}

nav ol li {
    display: inline-block;
    margin-left: 30px;
    background-color: #14213d;
    padding: 5px;
    border: solid 2px #f5f3f4;

}

nav ol li a {
    color: #f5f3f4;
}

#resume-container {
    background-color: #14213d;
    padding: 20px;
    border: #f5f3f4 2px solid;
    width: 600px;
    margin-right: 100px;

}

#photo-resume {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main ul {

    margin-top: 50px;
}

#info-container {
    background-color: #14213d;
    padding: 20px;
    border: #f5f3f4 2px solid;
    height: 250px;
    margin-top: 50px;
    width: 600px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
}

main ul#item2 li {
    margin-top: 20px;
    margin-left: 100px;
    color: #f5f3f4;

}

#skills-container {
    background-color: #14213d;
    padding: 20px;
    border: #f5f3f4 2px solid;
    height: 300px;
    margin-top: 20px;
    width: 800px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}

main ul#item3 li {
    color: #f5f3f4;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 40px;

}

#curiosities-container {
    background-color: #14213d;
    padding: 20px;
    border: #f5f3f4 2px solid;
    height: 220px;
    margin-top: 20px;
    width: 600px;
    margin-left: 300px;
    color: #f5f3f4;
}

main ul#item4 li {
    margin-top: 20px;
    margin-left: 40px;
}

footer {
    background-color: #14213d;
    padding: 20px;
    border: #f5f3f4 2px solid;
    height: 200px;
    align-items: center;
margin-top: 20px;
width: 400px;
margin-left: 400px;

}

nav#nav-contact {
    margin-left: 100px;
    
}

footer nav ul li {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    margin-right: 40px ;
    margin-top: 20px;
}

h2, h3, h4 {
    color: #f5f3f4;
    font-style: italic;
    text-align: center;
}

a {
    color: #f5f3f4;
}

p {
    color: #f5f3f4;
    text-align: justify;
}